@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



@import url(font.css);

@import url(partials/variables.css);




* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0e1428;
}

nav {
    position: fixed, top;

    width: 100%;
    height: 72px;
    background: #272C3E;
    border-radius: 0px 0px 16px 16px;

    /*  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1); */
}

nav a {
    margin-left: 0px;
    font-size: 15px;
    /*text-transform: uppercase;*/
    color: #fff;
    text-decoration: none;
    line-height: 72px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;

}

nav .animation {
    margin-left: 0px;
    position: absolute;
    height: 5px;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: var(--primary-color);
    border-radius: 8px;
    transition: all .5s ease 0s;
}

nav a:nth-child(1) {
    width: 100px;
}

nav .start-home,
a:nth-child(1):hover ~ .animation {
    width: 100px;
    left: 0;
}

nav a:nth-child(2) {
    width: 110px;
}

nav a:nth-child(2):hover ~ .animation {
    width: 110px;
    left: 100px;
}

nav a:nth-child(3) {
    width: 100px;
}

nav a:nth-child(3):hover ~ .animation {
    width: 100px;
    left: 210px;
}

nav a:nth-child(4) {
    width: 160px;
}

nav a:nth-child(4):hover ~ .animation {
    width: 160px;
    left: 310px;
}

nav a:nth-child(5) {
    width: 120px;
}

nav a:nth-child(5):hover ~ .animation {
    width: 120px;
    left: 470px;
}


h2 {
    margin: 200px;
    font-size: 50px;
    color: #fff;
}








.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
    content: " ";
    height: 2px;
    width: 18vw;
    background: rgba(255, 255, 255, 0.38);
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    font-size: 5rem;
    text-align: left;
    padding: 0px;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.site-main .site-banner .banner-image > img {
    padding: 7rem 0;
    width: 90rem;
}


section1 {
    background: #fff;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #C2C4C9;
}

h3 {
    font-weight: bold;
}

.site-banner {
    padding: 4252;
}




.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /*  background: url(bg.jpg);
    background-size: cover;*/
}

.contact .content {
    max-width: 800px;
    text-align: left;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
}



.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}

.container .contactInfo {
    display: flex;
    flex-direction: column;

}

.container .contactInfo .box {
    margin-top: 20px;
    position: relative;
    padding: 20px, 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin-right: 20px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: flex;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: var(--primary-color);
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #272C3E;
    border-radius: 16px;
}

.contactForm h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    margin: 90px;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;

    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #000;

}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: var(--primary-color);
    font-size: 12px;
    transform: translateY(-24px);
}






.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: var(--gradient-color);
    color: #000;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;

}


.title-text {
    font-family: 'Poppins', sans-serif;
    color: #fff;


}

.text-uppercase {
    text-transform: uppercase;
    color: #fff;
}

.button {
    margin: 10px;
    padding: .8rem 2.2rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}


.button.primary-button:hover {
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after, .button.secondary-button::after{ 
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}





.button.secondary-button {
    background: #272C3E;
    background-clip: padding-box;
    transition: background .6s ease;
    border-radius: 4px;
}

.button.secondary-button:hover {
    background: var(--gradient-color);
    color: rgb(126, 101, 101);
    box-shadow: var(--box-shadow);

}





.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    flex: 50%;
    padding: 0 72px;
}

.column img {
    margin-top: 50px;
    vertical-align: middle;
    border-radius: 16px;

}

.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1B2033;
    color: white;
    text-align: center;
    margin-top: 48px;
}


h4 {
    font-size: 24px;
    text-align: left;
    margin-left: 5%;
    padding-top: 28px;
    padding-bottom: 28px
}



h1 {
    color: #fff;
    padding: 100px;
    text-align: center;
    font-size: 48px;

}

a {
    color: var(--primary-color);
}